* {
    padding: 0;
    margin: 0;
    border: 0;
}
.wrap {
    display: flex;
    flex-direction: row;
    height: 120vh;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
    
    
}
img {
    border-radius: 12px;
    height: 100%;
    width: 100%;
   
}
.categoryTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-transform: capitalize;
    padding-top: 15px;

}