.container {
    justify-content: space-around;
    border: 2px solid lightcyan;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

h2,img, p, 
.container-img {
    text-align: center;
    padding-top: 5px;
} 

img {
    height: 50%;
}