.container {
    border: 2px solid lightcyan;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
    margin-left: 5px;
    
    
}

p {
    text-align: center;
    padding-top: 5px;
    height: 80%;    
    width:  80%;
} 


.foto {
    height: 180px;
    width: 220px;
    object-position: center;
    object-fit: cover;
   
}

.buttonCart{
    width: 220px;
    height: 22px;
    border-radius: 7px;
    color: black;
    font-size: 1em;
}

.buttonCart:focus{
    color: grey;
    font-size: 1.2em;

}