.botones {
    justify-content: center;
    display: grid;
    grid-template-columns: 50px 100px 50px;
    grid-template-rows: 30px 30px;
    grid-template-areas: 
        "botonMenos s botonMas "
        "Agregar Agregar Agregar";
}
.botonMenos {
    background-color: lightcyan;
    border: 0px;
    grid-area: botonMenos;
}
.botonMas {
    border: 0px;
    background-color: lightcyan;
    grid-area: botonMas;
}
span {
    grid-area: s;
    display: flex;
    justify-content: center;
    padding-top: 6px;
}
.Agregar {
    background-color: lightcyan;
    grid-area: Agregar;
    border: 1px;
}

button:hover {
    background-color: lightsalmon;

}