.botones {
    justify-content: center;
    width: 100vw;
    display: grid;
    grid-template-columns: 60px 100px 60px;
    grid-template-rows: 30px 30px;
    grid-template-areas: 
        "botonMenos s botonMas "
        "Agregar Agregar Agregar";
}
.botonMenos {
    background-color: lightcyan;
    border: 0px;
    grid-area: botonMenos;
    border-radius: 5px;
}
.botonMenos:focus{
    color: grey;
    font-size: 1.2em;

}
.botonMas {
    border: 0px;
    background-color: lightcyan;
    grid-area: botonMas;
    border-radius: 5px;
}
.botonMas:focus{
    color: grey;
    font-size: 1.2em;

}
span {
    grid-area: s;
    display: flex;
    justify-content: center;
    padding-top: 6px;
}
.Agregar {
    background-color: lightcyan;
    grid-area: Agregar;
    margin-top: 2px;
    
    
    width: 220px;
    
    border-radius: 5px;
    color: black;
    font-size: 1em;
    
    
    
}
.Agregar:focus{
    color: grey;
    font-size: 1.2em;

}

button:hover {
    background-color: lightsalmon;

}

.buttonCart{
    width: 220px;
    height: 22px;
    border-radius: 7px;
    color: black;
    font-size: 1em;
}

.buttonCart:focus{
    color: grey;
    font-size: 1.2em;

}